<%= form_for(@b_profile) do |f| %>
<% if @b_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@b_profile.errors.count, "error") %> prohibited this business profile from being saved:</h2>

      <ul>
        <% @b_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
<div class="form-group">
   <%= f.label :bio %><br>
  <%= f.text_area :bio, class: "form-control", :rows => 10 %>
  </div>
   <%= f.label "Atmosphere" %>
    <%= f.collection_select(:atmosphere_id, Atmosphere.all, :id, :status) %><br />
    
    <%= f.label "Attraction" %>
    <%= f.collection_select(:attraction_id, Attraction.all, :id, :name) %><br />
    
  <div class="field">
    <%= f.label :business_user_id %><br>
    <%= f.text_field :business_user_id, value: current_business_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>