<div class="container-fluid">
<div class="row">
  <div class="col-md-1">
<ul class="nav nav-tabs">
  <li role="presentation"> <%= link_to "All", businessprofiles_path %></li>
  <li role="presentation" class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     Atmosphere <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
  <% @atmospheres.each do |atmosphere| %>
  <li><%= link_to atmosphere.status, businessprofiles_path(atmosphere_id: atmosphere.id)%></li>
  <% end %>
  </ul>
  </li>
  <li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Attractions <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  <% @attractions.each do |attraction| %>
  <li><%= link_to attraction.name, businessprofiles_path(attraction_id: attraction.id)%></li>
  <% end %>
  </ul>
  </li>
  </ul>
  </div>


  <div class="col-md-9">
  <div class="head">
  <h1><b><center>Local Taps</center></b></h1>
  </div>

<div class="row">
  <div class="col-sm-12, col-md-4">

  <div class="panel panel-success">
    <% @businessprofile.each do |x| %>
  <div class="panel-heading">
    <h4><%= link_to x.name, x %></h4>


<div class="panel-body">

<%= image_tag x.avatar.url(:thumb), class: "img-responsive" %>
   <p><%= x.motto %></p>

<% if user_signed_in? %>
    <p>Miles from you: <%= x.distance_to(current_user).round(1) %></p>
<% end %>
</div>
<% end %>
</div>
</div>
</div>
</div>
  <div class="col-md-2">
  <%= search_form_for @q do |f| %>

<h3><b>Where is your favorite beer is being served? </b></h3><br />
<%= f.search_field :drinks_name_cont, placeholder: "Search Beers" %>
<%= f.submit %>

      <% end %>

<%= button_tag type: 'button' do %>
<% link_to 'Clear', businessprofiles_path %>
<% end %>
<br />


<h3><b>Search results...</b></h3><br />

<div class="search">
  <ol>
<% @profiles.each do |pro| %>
<li><%= link_to pro.name, pro %></li><br />
<%end%>
</ol>
</div>
</div>
</div>
</div>
