<h1>Business Profile</h1>
 <%= @b_profile.business_user.username %><br />
 <%= @b_profile.address %><br />
 <%= @b_profile.bio %><br />
 <%= @b_profile.phone_number %><br />

<%= link_to "Edit Information", edit_businessprofile_path(id: current_business_user.id) %>

<div id="map-canvas"></div>

<%= javascript_tag do %>
  latitude = '<%= j @businessprofile.latitude.to_s %>';
  longitude = '<%= j @businessprofile.longitude.to_s %>';
  address = '<%= j @businessprofile.address %>';
  title = '<%= j @businessprofile.name %>'
<% end %>
