<h1>Business Profile</h1>
 <%= @b_profile.business_user.username %><br />
 <%= @b_profile.address %><br />
 <%= @b_profile.bio %><br />
 <%= @b_profile.phone_number %><br />
 
<%= link_to "Edit Information", edit_businessprofile_path(id: current_business_user.id) %>
