<div class = "container">
<div class="page-header">

  <h1><%= @b_profile.name %></h1>
<% if  business_user_signed_in? && current_business_user.id == @b_profile.business_user.id%>

  <%= link_to "Edit Profile", edit_businessprofile_path %>
<% end %>

</div>

<% if user_signed_in? %>
 <h3>We are <%= @b_profile.distance_to(current_user).round(1) %> miles from you </h3>
 <% end %>

 <div class="row">
   <div class="col-xs-6 col-md-6">
     <h3> About Us: </h3>
     <%= @b_profile.bio %><br />
    <%= @b_profile.motto %><br />
  </div>

  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail">
      <%= image_tag @b_profile.avatar.url(:medium), class: "img-responsive" %>
      <div class="caption">
      <right><h3><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @b_profile.address %></h4>
      <h3><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= @b_profile.phone_number %></h4>
    </div>
    </a>

 </div>
 </div>

 <div class="row">
   <div class="col-xs-6 col-md-6">
     <div class="thumbnail">
     <center><h3> What we're slinging right now:</h3></center>
    <% @beer.each do |tap| %>
    <%= tap %><br />
    <% end %>

    </div>
    </div>
      <div class="col-xs-6 col-md-6">
        <div id="map-canvas"></div>
      </div>
  </div>

    <div class="col-xs-12 col-md-12">
      <div id='calendar'></div>
    </div>




<%= javascript_tag do %>
  latitude = '<%= j @b_profile.latitude.to_s %>';
  longitude = '<%= j @b_profile.longitude.to_s %>';
  address = '<%= j @b_profile.address %>';
  title = '<%= j @b_profile.name %>';
<% end %>
</div>
