<div class="container">
<p id="notice"><%= notice %></p>

<h3>Search for your favorite beer or type of beer:</h3>

<%= form_tag(results_path, method: :get) do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag "Search Inventory" %>
<% end %>


<%= link_to "Done", businessprofile_path(current_business_user.businessprofile.id) %>
</div>
